.btn {
    width: 180px;
    text-align: left;
    margin-top: 7px;
}

.form-label {
    color: #000;
    font-size: larger;
    font-weight: bold;
}

.table-label {
    color: #000;
    font-size: larger;
    font-weight: bold;
}

.row-form li {
    color: red;
    font-size: larger;
    font-weight: bold;
}

.nav-link,
.dropdown-item,
.navbar-text {
    color: #000;
    font-size: smaller;
    font-weight: bold;
}

.navbar-brand {
    /*color: rgba(0,0,0,.9);*/
    color: #000;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

.flash-notice {
    padding: 10px;
    /* background-color: rgb(221, 137, 27); */
    width: fit-content;
    /*color: black;*/
}

.flash-success {
    padding: 10px;
    /* background-color: rgba(0, 253, 34, 0.966); */
    width: fit-content;
    /*color: black;*/
}

.display-1 {
    font-size: 3rem;
}

.login-box {
    /* border: 1px solid #ddd; */
    min-width: 200px;
    padding: 10px;
    /*background-color: #000;*/
    background-color: #000000ed;
}

.login-box label {
    color: #fff;
}

.login-box input {
    text-align: center;
}

html,
body {
    margin: 0px;
    height: 100%;
}

.dropdown-menu {
    border-radius: 0px;
    /* background-color: #000; */
    background-color: #66919d;
    padding: 0px;
    border: 0px;
}

.dropdown-menu li {
    color: #fff;
    border-bottom: 1px solid #2e4850;
    /*transition: all 0.5s ease-out;*/
}

.dropdown-menu a {
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
}

.dropdown-item:focus,
.dropdown-item:hover {
    /*color: #1e2125;*/
    /*color: rgb(0 0 0);*/
    color: rgb(0 0 0);
    /* background-color: #e9ecef; */
    background-color: #fff;
}


/*
.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0);
    color: #fff;
    text-transform: uppercase;
}
*/

/*
.navbar-dark .navbar-text {
    color: rgb(0 0 0);
    color: #fff;
}
*/

/*
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.75);
    color: black;
}
*/

/*
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    color: black;
}
*/

/*
nav .nav-link:hover {
    color: rgba(255,255,255,.75);
}
*/

.navbar-dark .navbar-text a:hover {
    color: #fff;
}

.navbar-dark .navbar-text a:hover {
    color: #000;
    color: black;
}

.wrapper-body {
    padding: 20px;
    background-color: #ddd;
    background-color: #ebebeb;
}

body {
    background-color: #ddd;
    background-color: #ebebeb;
}

.title-area {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 2px;
}

.content-area {
    background-color: #fff;
    padding: 20px;
}


h2 {
    text-transform: uppercase;
}

table {
    font-size: 13px;
}

.sb-sidenav-dark {
    background-color: #212529;
    background-color: black;
    background-color: #303440;
    color: rgba(255, 255, 255, 0.5);
}

/*
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    background-color: #4589b6 !important;
}
*/

.sb-topnav.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
    color: white;
}

.sb-topnav.navbar-dark #sidebarToggle {
    color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 25px;
    border: none;
    outline: none;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    background-color: rgb(196, 134, 43);
    color: #fff;
    /*
    background-color: #fff;
    color: #000;
    */
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
    /*
    background-color: #fff;
    color: #000;
    */
    background-color: black;
    color: #fff;
}


.user-logged-info {
    border-radius: 50%;
    /* border-radius: 30%; */
    /* padding: 13px; */
    padding: 9px;
    background-color: black;
    background-color: #303440;
    color: #fff;
    color: rgba(255, 255, 255, 0.5);
    color: #fff;
    text-align: center;
}